<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Hair Application</title>

         <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Our Custom CSS -->
        <link rel="stylesheet" href="../css/sign_up_style.css">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    </head>
    <body ng-app="hairHeadquarters">
        <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>Sidebar</h3>
                </div>

                <ul class="list-unstyled components">
                    <p>Dummy Heading</p>
                    <li class="active">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li><a href="#">Home 1</a></li>
                            <li><a href="#">Home 2</a></li>
                            <li><a href="#">Home 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Styling</a>
                    </li>
                    <li>
                        <a href="#">Healthy Hair Bible</a>
                    </li>
                    <li>
                        <a href="#">Community</a>
                    </li>
                    <li>
                        <a href="#">Resources</a>
                    </li>
                </ul>

                <ul class="list-unstyled CTAs">
                    <li><a href="#" class="download">Contact</a></li>
                    <li><a href="#" class="article">Back </a></li>
                </ul>
            </nav>

            <!-- Page Content Holder -->
            <div id="content">

                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="navbar-btn">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                        <h2> &nbsp; &nbsp; Create a Profile
                        </h2>
                    </div>
                </nav>

                <!-- FORM -->
                <div ng-controller="signupController">
                    <form name="signupform">
                        <div class="input-field">
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Full Name" size="100" ng-model="newUser.name" style="background-color: rgba(0,0,0,0.1); color: #FFF;" required>
                        </div>

                        <div class="input-field">
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email" ng-model="newUser.email" style="background-color: rgba(0,0,0,0.1); color: #FFF;"required>
                        </div>

                        <div class="input-field">
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Username" ng-model="newUser.username" style="background-color: rgba(0,0,0,0.1); color: #FFF;" required>
                        </div>

                        <div class="input-field">
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Password" ng-model="newUser.password" style="background-color: rgba(0,0,0,0.1); color: #FFF;" required>
                        </div>

                        <div class="input-field">
                            <select type="hairtype" class="form-control" id="exampleFormControlInput1" placeholder="What is your hair type?" style="background-color: rgba(0,0,0,0.1); color: #FFF;" ng-model="newUser.hairtype" ng-options="x for x in types"></select>
                            <a href="#" data-toggle="popover" title="Hair Type" rel="popover" data-img="../images/hairtype.jpg" style="max-width: 10050px">
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                            </a>
    
                        </div>
    
                        <div class="input-field">
                            <input type="number" min="0" step="1" class="form-control" id="exampleFormControlInput1" placeholder="How many years have you been natural?" style="background-color: rgba(0,0,0,0.1); color: #FFF;" ng-model="newUser.yearsnatural">
                        </div>

                        <div class="input-field">
                            <input type="skilllevel" class="form-control" id="exampleFormControlInput1" placeholder="What is your haircare skill level?" style="background-color: rgba(0,0,0,0.1); color: #FFF;" ng-model="newUser.skilllevel">
                        </div>
    
                        <div class="input-field">
                            <select type="hairporosity" class="form-control" id="exampleFormControlInput1" placeholder="What is your hair porosity?" style="background-color: rgba(0,0,0,0.1); color: #FFF;" ng-model="newUser.hairporosity" ng-options="x for x in por"></select>
                            <a href="#" data-toggle="popover" title="Hair Porosity" rel="popover" data-img="../images/hairporosity.jpg" style="width:400px;">
                                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                            </a>
                        </div>
    
                        <div class="col-xs-12">
                            <input type="submit" class="btn btn-primary btn-block" ng-click="signup()" value="Sign Up">
                        </div>
    
                    </form>
                </div>
                

                <!-- <div class="line"></div> -->
                <p style="color:#F39C11"> Already a user? <a href="./login.html" style="color:#F39C11">Sign in here.</a> </p>

            </div>
        </div>


        <!-- jQuery CDN -->
         <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
         <!-- Bootstrap Js CDN -->
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
         <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
         <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


         <script type="text/javascript">
              $('a[rel=popover]').popover({
                html: true,
                trigger: 'hover',
                placement: 'right',
                content: function(){return '<img src="'+$(this).data('img') + '" />';}
              });

             $(document).ready(function () {
                 $('#sidebarCollapse').on('click', function () {
                     $('#sidebar').toggleClass('active');
                     $(this).toggleClass('active');
                 });
             });

            // var numInput = document.querySelector('input');

            // numInput.addEventListener('input', function(){
            //     var num = this.value.match(/^\d+$/);
            //     if (num === null) {
            //     this.value = "";
            //     }
            // });
         </script>

        <!-- <script src="https://code.angularjs.org/1.4.3/angular.js"></script> -->
        <script src="../js/app.js"></script>
        <script src="../factories/userFactory.js"></script>
        <script src="../controllers/signupClientController.js"></script>
        <!-- <script src="https://code.angularjs.org/1.4.3/angular.js"></script> -->

    </body>
</html>
